/* -------- LOGO ------- */

.nav__logo{
    animation: fadeInLeft 500ms linear; 
  }
  
  @keyframes fadeInLeft{
    0% {
      opacity: 0;
      transform: translate3d(-50%, 0, 0); }
    100% {
      opacity: 1;
      transform: none; } }


/* --------- ANIMATION IMAGE --------- */

.illustration img{
    transform: translateY(0);
    animation: float 2s ease-in-out infinite;
  }
  
  @keyframes float {
    
    0%{transform: translateY(0);}
    50%{transform: translateY(-.8rem);}
    100%{transform: translateY(0);}
  }


  /*------------ BUTTONS ------------ */

  .shadow-pop-bl{
    transition: all 300ms;
  }

  .shadow-pop-bl:hover{
    box-shadow: -1px 1px #f9f9f9, -2px 2px #f9f9f9, -3px 3px #f9f9f9, -4px 4px #f9f9f9;
    transform: translateX(0) translateY(0);
    transform: translateX(8px) translateY(-8px);
  }

  /* -------- TYPING EFFECT -------- */

  .banner{
    display: block;
    white-space: nowrap;
    overflow: hidden;
    width: 20ch;
    border-right: .4rem solid;
    animation: typing 2s steps(20), blink .5s infinite step-end alternate;
  }
  
  @keyframes typing{
    from{
      width: 0;
    }
  }

  @keyframes blink{
    50%{
      border-color: transparent;
    }
  }




